$baggrund: #DFE7DE;
$famile: #5fb01f;
$lokalt: #399423;
$genbrug: #536e47;
$hvid: #ffffff;
$tekst: #050505;

$lyserød: #ffebf8;
$pink: #e5bbd6;

/*responsive variabler*/

$mobile-screen: 480px;
$tablet-screen: 768px;
$desktop-screen: 1024px;

$mobile-margin: 0em;
$tablet-margin: 1em;

$mobile-font-size: 14px;
$tablet-font-size: 16px;
