@use 'variabler';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: variabler.$baggrund;
}

header {
   background-color: variabler.$hvid;
   height: 10em;
   display: flex;
   flex-direction: row;

    nav {
        margin-top: auto;
        margin: auto;
        margin-bottom: 0.5em;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: inline;
                margin-right: 10em;
                &:last-child{
                    margin-right: 0;
                }
                a{
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  text-decoration: none;
                  color: variabler.$tekst;
                }

            }
        }
    }
}

main {
    background-color: variabler.$baggrund;
}