@use 'variabler';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: variabler.$baggrund;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15em;
    margin-top: 0em;
    margin-bottom: 0em;

}

header {
   background-color: variabler.$hvid;
   height: 15em;
   display: flex;
   flex-direction: row;

    nav {
        margin-top: auto;
        margin: auto;
        margin-bottom: 1em;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: inline;
                margin-right: 10em;
                &:last-child{
                    margin-right: 0;
                }
                a{
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  text-decoration: none;
                  color: variabler.$tekst;
                }

            }
        }
    }
}


.velkommen {
    display: grid;
    place-items: center;
    height: 100vh;
}

.velkommen img {
    width: 100%;
    height: auto;
    display: flex;

}
    


h1 {
    display: flex;
    justify-content: center;
}