@use 'variabler';
@use 'mixin';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: variabler.$baggrund;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 12em;
    margin-top: 0em;
    margin-bottom: 0em;

    @media only screen and (max-width: variabler.$tablet-screen) {
        margin: variabler.$tablet-margin;
        
    }

    @media only screen and (max-width: variabler.$mobile-screen) {
        margin: variabler.$mobile-margin;
    }

}

.tema {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0.4em;
    padding: 0.4em;
    color: variabler.$genbrug;
    border: 1px solid variabler.$pink;
}

header {
   background-color: variabler.$hvid;
   height: 15em;
   display: flex;
   flex-direction: row;

    nav {
        margin-top: auto;
        margin: auto;
        margin-bottom: 1em;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: inline;
                margin: 0 8em;
                
                a{
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  text-decoration: none;
                  color: variabler.$tekst;
                }

            }
        }
    }
    
}



.logodesktop {
    width: 28em;
    margin: auto;
    display: block;
}

.velkommen {
    display: grid;
    justify-items: center;
}

.velkommen img {
    width: 100%;
    display: flex;
}
    
h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.billedetekst {
    font-style: italic;
    margin-bottom: 2em;

}

.forsidetekst {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.forsideboks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 350px;
    background-color: variabler.$hvid;
    border-radius: 10px;
    margin-bottom: 3em;

    img {
        width: 225px;
        height: 160px;
    }

    h3 {
        padding-top: 1.5em;
        font-size: 23px;
    }
    
}
@media only screen and (max-width: variabler.$tablet-screen) {
        .boks {
            display: flex;
            flex-direction: row;
        }
        
    }

   

.boks a {
    text-decoration: none;
    color: variabler.$tekst;
    @include mixin.forside-knap;
    margin-top: 1.5em;
        
}

.støtlokaltboks {
    border: 5px solid variabler.$lokalt;
}

.familieboks {
    border: 5px solid variabler.$famile;
}

.genbrugsboks {
    border: 5px solid variabler.$genbrug;
}

footer {
    height: 10em;
    background-color: variabler.$hvid;

    nav {
        margin: 2em;
        ul {
            list-style-type: none;
            text-align: center;
            h4 {
                color: variabler.$genbrug;
                font-weight: bold;
                margin-bottom: 0.5em;

            }
            
             a {
                text-decoration: none;
                color: variabler.$genbrug;
    
             }
        }

    }
    
.footerboks {
    display: flex;
    justify-content: center;
    
}

img {
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

.kontakt {
    color: variabler.$genbrug;
    text-align: center;
    margin: 2em;
   

}
}

/*Styling af lokaltside*/

.lokalt-h1 {
    margin-top: 0.8em;
}

.lokalttekst {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rentemestervej {
    
    div {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;

      p {
    width: 20em;
    margin-top: 1em;
    font-size: 18px;
      }

      img {
        margin-left: 2em;
      }
    }
}

/*styling af for familier*/

.familie-h1 {
    margin-top: 0.8em;
}

.familieliv {
    div {
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;

      p {
    width: 25em;
    margin-top: 1em;
    font-size: 18px;
      }

      img {
        margin-right: 2em;
        margin-top: 1em;
      }
    }
}
